In [ ]:
#Ir al siguiente repositorio y descargar el siguiente archivo (BTCUSD_1hr.csv): Bitcoin
#Cargar el archivo usando la función pd.read_csv() 
#Utilizar el método .describe() para obtener un resumen numérico rápido de las variables
#Obtenga la cantidad de nulos por medio del atributo .isna()
#Extraer el mes de la columna Date y utilizar el método .groupby() para calcular la media mensual para cada variable

In [8]:
import pandas as pd
import numpy as np

df=pd.read_csv('./BTCUSD_1hr.csv', sep=',') # cargo el archivo, no olvidar de poner la ,
df.head()  # muestro las 5 primeras

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
0,1586390400000,2020-04-09 00:00:00,BTCUSD,7369.60,7369.60,7338.23,7338.23,7.788915
1,1586386800000,2020-04-08 23:00:00,BTCUSD,7367.28,7398.92,7348.47,7369.60,66.558293
2,1586383200000,2020-04-08 22:00:00,BTCUSD,7337.19,7390.25,7322.87,7367.28,88.486108
3,1586379600000,2020-04-08 21:00:00,BTCUSD,7327.70,7370.00,7311.33,7337.19,35.551553
4,1586376000000,2020-04-08 20:00:00,BTCUSD,7320.11,7375.72,7313.66,7327.70,153.655811

In [9]:
df.describe().round(1)

       Unix Timestamp     Open     High      Low    Close   Volume
count    3.946500e+04  39465.0  39465.0  39465.0  39465.0  39465.0
mean     6.182322e+11   4817.8   4844.9   4788.7   4818.0    158.4
std      7.614885e+11   3925.3   3954.1   3893.3   3925.2    300.8
min      1.444309e+09      0.0    243.6      0.0    243.6      0.0
25%      1.479827e+09    741.7    743.0    740.0    741.8     18.2
50%      1.515344e+09   4142.1   4165.4   4118.4   4142.6     62.8
75%      1.550862e+12   7908.5   7950.0   7860.8   7908.5    175.5
max      1.586390e+12  19869.9  19999.0  19778.1  19869.9   8526.8

In [11]:
print(df.isna().sum()) # busco los nulos, y si los hay los suma

Unix Timestamp    0
Date              0
Symbol            0
Open              0
High              0
Low               0
Close             0
Volume            0
dtype: int64

In [12]:
df['Date']

0        2020-04-09 00:00:00
1        2020-04-08 23:00:00
2        2020-04-08 22:00:00
3        2020-04-08 21:00:00
4        2020-04-08 20:00:00
                ...
39460    2015-10-08 17:00:00
39461    2015-10-08 16:00:00
39462    2015-10-08 15:00:00
39463    2015-10-08 14:00:00
39464    2015-10-08 13:00:00
Name: Date, Length: 39465, dtype: object

In [13]:
a="2020-11-09 00:00:00"
a[5:7] # hago slicing entre el caracter 5 a 7

'11'

In [14]:
def extraer_mes(x): # funcion para traer el numero que hace referencia al mes
    return x[5:7]

In [17]:
def extraer_ano(x): # funcion que hace referencia al año
    return x[0:4]

In [18]:
df["mes"]=df['Date'].apply(extraer_mes) # al extraer año y mes, agrego las columnas al df poriginal
                                        # que me va a servir para el group by 
df["año"]=df['Date'].apply(extraer_ano)
df.head()

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume,mes,año
0,1586390400000,2020-04-09 00:00:00,BTCUSD,7369.60,7369.60,7338.23,7338.23,7.788915,04,2020
1,1586386800000,2020-04-08 23:00:00,BTCUSD,7367.28,7398.92,7348.47,7369.60,66.558293,04,2020
2,1586383200000,2020-04-08 22:00:00,BTCUSD,7337.19,7390.25,7322.87,7367.28,88.486108,04,2020
3,1586379600000,2020-04-08 21:00:00,BTCUSD,7327.70,7370.00,7311.33,7337.19,35.551553,04,2020
4,1586376000000,2020-04-08 20:00:00,BTCUSD,7320.11,7375.72,7313.66,7327.70,153.655811,04,2020

In [19]:
df.groupby(["año","mes"])[['Open','High','Low','Close','Volume']].mean().round(1)
# agrupo por año y por mes, mostrando las variable y redondeo. mostrando la media

             Open     High      Low    Close  Volume
año  mes
2015 10     274.2    275.6    273.5    274.8    18.5
     11     349.6    354.7    347.0    349.7    40.4
     12     423.1    424.6    421.5    423.1    20.0
2016 01     411.5    412.7    410.2    411.4    39.8
     02     401.8    402.5    401.2    401.9    41.6
     03     414.4    414.7    413.9    414.3    55.3
     04     433.7    434.0    433.4    433.7    52.0
     05     461.0    461.7    460.5    461.1    43.7
     06     640.5    643.3    637.6    640.7    83.4
     07     661.8    662.8    660.5    661.7    41.0
     08     580.9    581.9    579.9    580.9    47.8
     09     604.2    604.6    603.7    604.3    69.0
     10     640.4    641.0    639.9    640.5    96.9
     11     724.4    725.5    723.3    724.5    88.5
     12     821.4    823.0    820.2    821.7    86.1
2017 01     912.2    916.0    907.8    912.2   108.9
     02    1061.4   1064.0   1058.5   1061.7   129.8
     03    1135.2   1140.4   1129.2   1135.0   214.9
     04    1214.0   1216.5   1211.7   1214.4   189.8
     05    1894.9   1907.8   1881.3   1896.2   406.9
     06    2615.0   2629.3   2598.5   2615.2   393.3
     07    2494.7   2510.6   2478.7   2495.3   563.5
     08    3832.1   3852.1   3812.4   3834.6   441.0
     09    4094.2   4120.1   4063.2   4093.6   407.5
     10    5284.5   5310.4   5260.8   5287.4   264.6
     11    7767.4   7828.5   7707.9   7772.3   386.7
     12   15005.1  15186.8  14797.8  15010.4   478.8
2018 01   12876.2  13011.7  12724.0  12871.2   383.3
     02    9389.3   9486.0   9282.8   9389.5   394.2
     03    9027.4   9093.7   8952.3   9022.8   273.2
     04    7978.9   8019.3   7938.8   7982.1   181.7
     05    8440.1   8474.5   8401.5   8437.7   139.1
     06    6784.9   6808.6   6758.2   6783.4   112.5
     07    7094.7   7121.0   7069.6   7096.5   124.9
     08    6690.0   6717.9   6659.9   6689.0   121.0
     09    6590.0   6608.7   6569.0   6589.4    92.4
     10    6414.6   6424.5   6403.7   6414.2   105.4
     11    5391.7   5415.2   5362.6   5388.5   227.3
     12    3671.0   3694.0   3647.4   3670.7   219.9
2019 01    3658.6   3668.4   3647.7   3658.2   119.6
     02    3648.8   3658.0   3640.5   3649.4   101.1
     03    3918.7   3925.4   3912.0   3919.1    69.8
     04    5139.2   5158.9   5119.6   5140.8   120.6
     05    7226.9   7273.1   7180.3   7231.3   130.4
     06    9359.9   9422.3   9283.7   9363.0   113.9
     07   10672.9  10747.3  10589.0  10672.0   111.3
     08   10615.4  10662.2  10563.1  10614.8    77.1
     09    9793.3   9827.0   9755.0   9791.5    69.9
     10    8367.9   8405.5   8334.0   8369.0    57.5
     11    8343.6   8374.3   8312.6   8341.4    43.2
     12    7241.3   7266.9   7218.8   7240.8    34.2
2020 01    8318.8   8353.9   8290.2   8321.7    43.6
     02    9648.9   9684.8   9611.4   9647.8    51.0
     03    6934.0   6993.9   6868.0   6931.2   201.0
     04    6891.5   6936.8   6853.2   6896.2   116.5

In [20]:
#Segunda Alternativa
df1=pd.read_csv('./BTCUSD_1hr.csv', sep=',') 
df1

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
0,1586390400000,2020-04-09 00:00:00,BTCUSD,7369.60,7369.60,7338.23,7338.23,7.788915
1,1586386800000,2020-04-08 23:00:00,BTCUSD,7367.28,7398.92,7348.47,7369.60,66.558293
2,1586383200000,2020-04-08 22:00:00,BTCUSD,7337.19,7390.25,7322.87,7367.28,88.486108
3,1586379600000,2020-04-08 21:00:00,BTCUSD,7327.70,7370.00,7311.33,7337.19,35.551553
4,1586376000000,2020-04-08 20:00:00,BTCUSD,7320.11,7375.72,7313.66,7327.70,153.655811
...,...,...,...,...,...,...,...,...
39460,1444323600,2015-10-08 17:00:00,BTCUSD,244.25,244.99,244.02,244.99,3.920632
39461,1444320000,2015-10-08 16:00:00,BTCUSD,244.92,244.92,244.25,244.25,3.895252
39462,1444316400,2015-10-08 15:00:00,BTCUSD,245.00,245.00,244.92,244.92,3.016926
39463,1444312800,2015-10-08 14:00:00,BTCUSD,245.00,245.00,244.50,245.00,4.453649
39464,1444309200,2015-10-08 13:00:00,BTCUSD,0.00,245.00,0.00,245.00,0.606654

In [22]:
#df1['fecha']=df1['Date'].dt.strftime('%Y-%m') # asi va a dar error, porque fecha esta en tipo de dato string
#df1

In [24]:
# lo podemos manipular
df1['fecha']=pd.to_datetime(df1['Date']) # lo transformo en formato fecha ( extraigo la fehca de la columna date)
df1['año']=df1['fecha'].dt.strftime('%Y') # las transformo en año  y mes respectivamente.
df1['mes']=df1['fecha'].dt.strftime('%m')
df1

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume,fecha,año,mes
0,1586390400000,2020-04-09 00:00:00,BTCUSD,7369.60,7369.60,7338.23,7338.23,7.788915,2020-04-09 00:00:00,2020,04
1,1586386800000,2020-04-08 23:00:00,BTCUSD,7367.28,7398.92,7348.47,7369.60,66.558293,2020-04-08 23:00:00,2020,04
2,1586383200000,2020-04-08 22:00:00,BTCUSD,7337.19,7390.25,7322.87,7367.28,88.486108,2020-04-08 22:00:00,2020,04
3,1586379600000,2020-04-08 21:00:00,BTCUSD,7327.70,7370.00,7311.33,7337.19,35.551553,2020-04-08 21:00:00,2020,04
4,1586376000000,2020-04-08 20:00:00,BTCUSD,7320.11,7375.72,7313.66,7327.70,153.655811,2020-04-08 20:00:00,2020,04
...,...,...,...,...,...,...,...,...,...,...,...
39460,1444323600,2015-10-08 17:00:00,BTCUSD,244.25,244.99,244.02,244.99,3.920632,2015-10-08 17:00:00,2015,10
39461,1444320000,2015-10-08 16:00:00,BTCUSD,244.92,244.92,244.25,244.25,3.895252,2015-10-08 16:00:00,2015,10
39462,1444316400,2015-10-08 15:00:00,BTCUSD,245.00,245.00,244.92,244.92,3.016926,2015-10-08 15:00:00,2015,10
39463,1444312800,2015-10-08 14:00:00,BTCUSD,245.00,245.00,244.50,245.00,4.453649,2015-10-08 14:00:00,2015,10
39464,1444309200,2015-10-08 13:00:00,BTCUSD,0.00,245.00,0.00,245.00,0.606654,2015-10-08 13:00:00,2015,10

In [25]:
# agrupamos
df1.groupby(["año","mes"])[['Open','High','Low','Close','Volume']].mean().round(1)

             Open     High      Low    Close  Volume
año  mes
2015 10     274.2    275.6    273.5    274.8    18.5
     11     349.6    354.7    347.0    349.7    40.4
     12     423.1    424.6    421.5    423.1    20.0
2016 01     411.5    412.7    410.2    411.4    39.8
     02     401.8    402.5    401.2    401.9    41.6
     03     414.4    414.7    413.9    414.3    55.3
     04     433.7    434.0    433.4    433.7    52.0
     05     461.0    461.7    460.5    461.1    43.7
     06     640.5    643.3    637.6    640.7    83.4
     07     661.8    662.8    660.5    661.7    41.0
     08     580.9    581.9    579.9    580.9    47.8
     09     604.2    604.6    603.7    604.3    69.0
     10     640.4    641.0    639.9    640.5    96.9
     11     724.4    725.5    723.3    724.5    88.5
     12     821.4    823.0    820.2    821.7    86.1
2017 01     912.2    916.0    907.8    912.2   108.9
     02    1061.4   1064.0   1058.5   1061.7   129.8
     03    1135.2   1140.4   1129.2   1135.0   214.9
     04    1214.0   1216.5   1211.7   1214.4   189.8
     05    1894.9   1907.8   1881.3   1896.2   406.9
     06    2615.0   2629.3   2598.5   2615.2   393.3
     07    2494.7   2510.6   2478.7   2495.3   563.5
     08    3832.1   3852.1   3812.4   3834.6   441.0
     09    4094.2   4120.1   4063.2   4093.6   407.5
     10    5284.5   5310.4   5260.8   5287.4   264.6
     11    7767.4   7828.5   7707.9   7772.3   386.7
     12   15005.1  15186.8  14797.8  15010.4   478.8
2018 01   12876.2  13011.7  12724.0  12871.2   383.3
     02    9389.3   9486.0   9282.8   9389.5   394.2
     03    9027.4   9093.7   8952.3   9022.8   273.2
     04    7978.9   8019.3   7938.8   7982.1   181.7
     05    8440.1   8474.5   8401.5   8437.7   139.1
     06    6784.9   6808.6   6758.2   6783.4   112.5
     07    7094.7   7121.0   7069.6   7096.5   124.9
     08    6690.0   6717.9   6659.9   6689.0   121.0
     09    6590.0   6608.7   6569.0   6589.4    92.4
     10    6414.6   6424.5   6403.7   6414.2   105.4
     11    5391.7   5415.2   5362.6   5388.5   227.3
     12    3671.0   3694.0   3647.4   3670.7   219.9
2019 01    3658.6   3668.4   3647.7   3658.2   119.6
     02    3648.8   3658.0   3640.5   3649.4   101.1
     03    3918.7   3925.4   3912.0   3919.1    69.8
     04    5139.2   5158.9   5119.6   5140.8   120.6
     05    7226.9   7273.1   7180.3   7231.3   130.4
     06    9359.9   9422.3   9283.7   9363.0   113.9
     07   10672.9  10747.3  10589.0  10672.0   111.3
     08   10615.4  10662.2  10563.1  10614.8    77.1
     09    9793.3   9827.0   9755.0   9791.5    69.9
     10    8367.9   8405.5   8334.0   8369.0    57.5
     11    8343.6   8374.3   8312.6   8341.4    43.2
     12    7241.3   7266.9   7218.8   7240.8    34.2
2020 01    8318.8   8353.9   8290.2   8321.7    43.6
     02    9648.9   9684.8   9611.4   9647.8    51.0
     03    6934.0   6993.9   6868.0   6931.2   201.0
     04    6891.5   6936.8   6853.2   6896.2   116.5